body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.jumbotron {
    height: 350px;
    color: white;
    text-shadow: #444 0 1px 1px;
    background: transparent;
}

.parallax-window {
    min-height: 350px;
    background: url('/img/hska.jpg') no-repeat center center;
}
