body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.form-group {
    margin-right: 5px;
}

.jumbotron {
    height: 350px;
    color: white;
    text-shadow: #444 0 1px 1px;
    background: url('/img/hska.jpg') no-repeat center center;
}
